@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  margin: 0;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  user-select: none;
  color: rgb(55, 192, 201)
}
header {
  margin: 0 auto;
  width: 431px;
}
h1 {
  background: url(./media/flappy-bird-set.png) 0% 340px;
  padding: 1.2rem 0;
  margin: 0;
}
.score-container {
  display: flex;
  justify-content: space-between;
  padding: 8px 6px;
  background: #5ee270;
}
p {
  cursor: pointer;
  margin: 20px auto 0;
}
p a {
  color: rgb(71, 224, 121);
  text-decoration: none;
  transition: color 0.2s linear;
  padding: 10px 5px;
}
p a:visited {
  color: rgb(71, 224, 121);
}
p a:hover {
  color: rgb(55, 192, 201);
}
